@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xs-12">
    <div class="row">
    </div>
</div>
<div class="col-sm-12">
    <div class='row'>
        <div class='col-sm-12'>
            <div class='box bordered-box fb-border'>
                <div class='box-header fb-background'>
                    <div class='title'>
                        <i class='icon-user'></i>
                        Details
                    </div>
                    <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                        </a>
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-6'>
                        <div class='box-content box-statistic'>
                            <h3 class='title text-error'>191</h3>
                            <small>New</small>
                            <div class='text-error icon-inbox align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                            <h3 class='title text-warning'>311</h3>
                            <small>In process</small>
                            <div class='text-warning icon-check align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                            <h3 class='title text-info'>3</h3>
                            <small>Pending</small>
                            <div class='text-info icon-time align-right'></div>
                        </div>
                    </div>
                    <div class='col-sm-6'>
                        <div class='box-content box-statistic'>
                            <h3 class='title text-primary'>3</h3>
                            <small>Shipped</small>
                            <div class='text-primary icon-truck align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                            <h3 class='title text-success'>981</h3>
                            <small>Completed</small>
                            <div class='text-success icon-flag align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                            <h3 class='title text-muted'>0</h3>
                            <small>Canceled</small>
                            <div class='text-muted icon-remove align-right'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
