@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<body class='contrast-fb error contrast-background'>
    <div class='middle-container'>
        <div class='middle-row'>
            <div class='middle-wrapper'>
                <div class='error-container-header'>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-sm-12'>
                                <div class='text-center'>
                                    <i class='icon-exclamation-sign'></i>
                                    500
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='error-container'>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-sm-4 col-sm-offset-4'>
                                <h4 class='text-center title'>Ooops! Something went wrong.
                                    <br>
                                    But don't worry - we'll fix that soon.
                                </h4>
                                <p class='text-center'>
                                    <small>You can</small>
                                </p>
                                <div class='text-center'>
                                    <a class='btn btn-md btn-ablock' href='#'>
                                        <i class='icon-chevron-left'></i>
                                        Go back
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
